<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Blue Player</title>
    </head>

    {% block content %}
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">BluePlayer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-item active">
              <a class="nav-link" href="/home">Back</a>
          </li>
        </ul>
      </div>
    </nav>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                       <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <!-- <strong>Title</strong> --> {{ message }}
                       </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
            
      <div class="container">
        <form class="form-inline" action="upload" method="post" enctype=multipart/form-data>
            <div class="form-group">
                <input type="file" class="form-control-file" name="file" id="fileInput" accept=".mp3">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Save</button>
        </form>
      </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="btn-group mx-auto order-0" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Prev</button>
          <button type="button" class="btn btn-default">Play</button>
          <button type="button" class="btn btn-default">Next</button>
        </div>
          <div class="ml-auto">
          </div>
      </div>
    </nav>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
